@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.section

html {
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2;
  }
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.section-subheading {
    font-size: 2rem;
    color: #000;

}
.section-heading {
  font-size: 2rem;
  color: #000;
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.rating ion-icon {
  color: #f5a003;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}


.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #ffffff;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #ffffff;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: #fff;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  transition: 0.5;
}

.tranding-slider-control .slider-arrow:hover {
  background: #9a9a9a;
  transition: 0.5s;
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #000000;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(186, 187, 189, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

@media (max-width: 500px) {
  .tranding-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tranding-slide-content .food-price,
  .tranding-slide-content .tranding-slide-content-bottom {
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
  }

  .food-rating {
    justify-content: center;
    text-align: center;
  }
  
  .tranding-slide-content h2, .tranding-slide-content .tranding-slide-content-bottom{
    width: fit-content;
  }
  .tranding-slide-content h2{
    margin: 0 auto;
  }
  
}

.tranding-slide-content .tranding-slide-content-bottom, .tranding-slide-content h2{
  background-color: hsla(54, 95%, 16%, 0.37);
  border-radius: 20px;
}