main{
    margin: 0;
    padding: 0;
}
.imagen-banner img{
    width: 100%;
    object-fit: cover;
    position: relative;
}
.imagen-banner h1{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#contenido{    
    background-color: blueviolet;
}
.formulario{
    width: 50%;
    background-color: brown;
    margin: 40px auto;
    padding: 15px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.formulario div{
    padding: 15px 15px;
}
.formulario div h1{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid blue;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form label{
    color: #999;
    font-weight: bold;
}