body {
    background: #fff;
    /* background: url(../images/fondo.webp); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.banner {
    background-image: url('../images/beni/lugares/Parque Pantanal.jpg'); 
    background-size: cover;
    background-position: center;
    height: 76vh;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    text-align: center;
    color: white;
    padding-bottom: 100px; 
}

.banner-content {
    top:20%;
    left: 5%;
    position: absolute;
    background-color: rgba(22, 25, 30, 0.637); 
    padding: 10px 50px; 
    border-radius: 20px; 
    max-width: 25%; 
}

.banner-content h1 {
    font-size: 3rem; 
    font-weight: medium; 
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1rem; 
    margin-top: 10px;
    color: #fff; 
}
/*lugares turisticos*/


/*Festividades*/
.dark-background {
    background-color: #cac8c8; 
    color: #030303;
    padding: 100px;
}
#festividades-h3{
    font-family: 'Arial', sans-serif; 
    font-size: 3em; 
    font-weight: bold; 
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px; 
    padding: 10px; 
}
#festividades h2{
    border-radius: 40px;
    font-family: 'Arial', sans-serif; 
  font-size: 1.5em; 
  font-weight: semi-bold;
  text-align: center;
  text-transform: capitalize;
  margin: 25px 0; 
  padding: 10px; 
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
}

.evento {
    width: 300px;
    background-color: #fffefe;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.2); /* Sombra detrás del contenedor */
    overflow: hidden; /* Para que las esquinas de la imagen y el contenedor coincidan */
}

.evento img {
    width: 300px;
    min-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.evento h3 {
    margin: 15px 0 10px 0;
    font-size: 1.5em;
    color: #141414;
}

.evento p {
    margin: 5px 20px; /* Margen interno para el texto */
    color: #4e4e4e;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px; /* Margen interno para la info */
}

.info div {
    display: flex;
    align-items: center;
}

.info i {
    font-size: 1.2em; /* Tamaño de los iconos */
    margin-right: 8px;
    color: #161616; /* Color de los iconos */
}

.info p {
    margin: 0;
    font-weight: bold;
    font-size: 0.9em;
    color: #7c7b7b; /* Color del texto */
}

@media (max-width: 768px){
    #festividades h3{
        font-size: 1em;

    }
    #festividades h2{
        font-size: 0.8em    ;
    }
    
}
@media (max-width: 768px) {
    header {
      flex-direction: column;
    }
    .logo h1{
        font-size: 25px;
    }
    header.sticky .logo h1{
        color: rgba(255,255, 255, 0.6);
      }
    nav ul {
    display:none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    nav ul li {
      width: 100%;
    }
  
    nav ul li a {
      font-size: 15px;
    }
  
    .submenu-dep {
      position: relative;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
    }
  
    .submenu:focus-within .submenu-dep {
      display: block;
      position: relative;
    }
    header.sticky {
        background: transparent; /* Fondo blanco al hacer scroll */
        background-color: rgba(0,0,0,0.3);
        padding: 10px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.204);
    }
    
  }



