#contenedor-mayor{
    display: flex;
    height: 100vh;
}
.container-slide{
     position: absolute;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent; 
}
.slider{
    position: absolute;
    inset: 0px 0px 0px 0px;
    background-color: transparent;
    border-radius: 0px;
}
.slider .slide{
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5); 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}
.slider .slide:nth-child(1),
.slider .slide:nth-child(2){
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);    
    box-shadow: 0 25px 50px rgba(0,0,0,0);
    background-size: cover;
    border-radius: 0px;
}
.slider .slide:nth-child(3){
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slide:nth-child(4){
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slide:nth-child(5){
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slide:nth-child(6) {
    left: calc(55% + 960px);
    background-size: cover;
    opacity: 0.5;
}
.buttons{
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;

}
.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.buttons span::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #000000;
    border-left: 4px solid #030303;
    transform: rotate(315deg) translate(2px,2px);
}
.buttons span:nth-child(2):before{
    transform: rotate(135deg) translate(2px,2px);
}
.buttons span:active{
    opacity: 0.5;
}
.content{
    background-color: #00000042;
    border-radius: 60px;
    position: relative;
    padding: 30px;
    max-width: 460px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(-50%, -50%);
    top: -19%;
    left: 10%;
    z-index: 1000;
    opacity: 0;
    text-align: left;
}
.content h2{
    font-size: 3em;
    color: #fff;

}
.content p{
    
    color: #fff;
    font-size: 1.2em;
}
.slider .slide:nth-child(1) .content,
.slider .slide:nth-child(2) .content{
    opacity: 1;
    transform: translateY(-60px);
    transition-delay: 0.5s;
}
/* responsivo */
@media(max-width: 900px){
    .slider .slide .content {
        transform: translate(0, 40px); 
        left: initial; 
        top: initial; 
        padding: 20px; 
        text-align: left; 
        max-width: 100%; 
    }
    .slider{
        position: absolute;
        inset: 100px 0px 200px 0px;
        display: flex;
    }
    .slider .slide{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat;
    }
    .slider .slide:nth-child(1),
    .slider .slide:nth-child(2){
        top: initial;
        bottom: 0px;
    }
    .slider .slide:nth-child(3){
        left: 50px;
    }
    .slider .slide:nth-child(4){
        left: 185px;
    }
    .slider .slide:nth-child(5){
        left: 310px;
    }
}

 